/*-------------------------------------------*/
/* GLOBAL SETUP */
/*-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: solid 1px red; */
  font-family: 'Lato', 'Arial', 'sans-serif';
}

body {
  background-color: #fff;
  /* color: #555; */
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

section {
  padding: 60px 0;
}

ion-icon{
  color: #ffc107;
  font-size: 1rem;
}

p {
  font-size: 100%;
  font-weight: 300;
  line-height: 145%;
}

h2 {
  font-size: 150%;
  font-weight: 300;
  width: 70%;
  /* margin-left: 15%; */
}

h2:after {
  display: block;
  height: 2px;
  background-color: #ffc107;
  content: " ";
  margin: 0 auto;
  width: 100px;
  margin-top: 25px;
}

h3 {
  font-size: 100%;
  /* font-weight: 100; */
}

h3:after {
  display: block;
  height: 2px;
  background-color: #ffc107;
  content: " ";
  /* margin: 0 auto; */
  width: 100px;
  margin-top: 15px;
}

a:link,
a:active {
  color: #ffc107;
  text-decoration: none;
}

figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

li {
  list-style-type: none;
}

/*-------------------------------------------*/
/* HEADER SECTION */
/*-------------------------------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/hero.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-attachment: fixed;
}

header ion-icon {
  color: #fff;
  font-size: 4rem;
}
.mobile{
  color: #000 !important;
  font-size: 10em;
}
.hero-text {
  font-size: 300%;
  font-weight: 100;
}

@media(max-width:768px) {
  header:after {
    content: " ";
    position: scroll;
    /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh;
    /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1;
    /* needed to keep in the background */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/hero.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .hero-text {
    font-size: 150%;
    font-weight: 100;
  }
}

/*-------------------------------------------*/
/* HEADER SECTION LOGO*/
/*-------------------------------------------*/
.logo-white {
  width: 3em;
}

.navbar-light .navbar-toggler {
  border-color: #fff !important;
}

.navbar-toggler:hover {
  background-color: #ffc107 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav-item a {
  border-bottom: 1px solid transparent;
  transition: border-bottom .2s;
}

.nav-item a:hover {
  border-bottom: 1px solid #ffc107;
}


/*-------------------------------------------*/
/* MOBILE NAVIGATION*/
/*-------------------------------------------*/
@media(max-width:768px) {
  .navbar{
    flex-direction: column;
  }
  .navbar .nav{
    width: 50%;
    flex-direction: column;
    position:absolute;
    top:60px;
    right: 0;
  text-align: left;
  background-color: #ffc107!important;
  animation-name: mobile-menu-slideIn;
  animation-duration:1.2s;

  }
  @keyframes mobile-menu-slideIn {
    from{right:-100rem;}
    to{right:0;}
  }
  .nav-item a{
    color:#000!important;
  }
  .nav-item:hover{
    background-color: #fff;
  }

}


/*-------------------------------------------*/
/* FEATURES SECTION */
/*-------------------------------------------*/
.features-section {
  background-color: #fff;
  font-size: 100%;
}

@media(max-width:678px) {
  .features-section h2 {
    font-size: 150%;
  }

  .features-section p {
    margin-left: 0;
  }
}

.features-section ion-icon {
  color: #ffc107;
  font-size: 3rem;
}

/*-------------------------------------------*/
/* FAVORITE MEALS SECTION */
/*-------------------------------------------*/
.meals-section {
  margin: 0 0;
  padding: 0 0;
}

.meal-showcase {
  width: 100%;
  margin: 0;
}

.meals-showcase img {
  cursor: pointer;
  width: 100%;
  transform: scale(1.15);
  transition: transform .5s ease-in;
  opacity: 0.7;
}

.meals-showcase img:hover {
  transform: scale(1);
  opacity: 1;
}

/*-------------------------------------------*/
/* HOW IT WORKS SECTION */
/*-------------------------------------------*/
.works-section {
  background-color: #f4f4f4;
}

.works-section .app-phone {
  width: 35%;
  top: 0px;
}

.animate {
  position: absolute;
  top: 0px;
  animation-name: iphone-slide-up;
  animation-duration: .7s;
}

@keyframes iphone-slide-up {
  from {
    top: 500px;
  }

  to {
    top: 0px;
  }
}

@media(max-width:768px) {

  /* .works-section h2 {
    font-size: 20%;
  } */
  /* .works-section p{
    font-size: 10%;
  } */
  .app-container {
    margin-top: 2em;
    height: 25em;
    ;
  }

  .works-section .app-phone {
    width: 65%;
    position: absolute;
    top: 0;
    animation-name: iphone-slide-up;
    animation-duration: 4s;
  }
}

.app-container {
  overlay: hidden;
}

.how-number {
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ffc107;
  color: #ffc107;
  display: flex;
  font-size: 100%;
  font-weight: 300;
  height: 52px;
  justify-content: center;
  padding: 5%;
  width: 52px;
}

.app-btn-container img {
  height: 50px;
  width: auto;
}

/*-------------------------------------------*/
/* CITIES SECTION */
/*-------------------------------------------*/
.card {
  border: none !important;
}

.card ion-icon {
  padding-top: 3px;
}

.card-info a {
  text-decoration: none;
  color: #ffc107;
}

.card-info {
  font-size: .9rem;
  line-height: 1;
}

/*-------------------------------------------*/
/* CUSTOMERS SECTION */
/*-------------------------------------------*/
.customers-section .comments::before {
  content: "\201C";
  display: block;
  font-size: 300%;
  margin-top: 15%;
}

.customers-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/resources/css/images/back-customers.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
}

.author img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.author p {
  margin: 6px 7px 0;
  /* margin-left: 7px; */
  line-height: 145%;
  text-align: center;
}

/*-------------------------------------------*/
/* SIGN-UP SECTION */
/*-------------------------------------------*/
.sign-up-section .card {
  position: relative;
  top: 0;
  animation-name: card-slide-up;
  animation-duration: 2s;
}

@keyframes card-slide-up {
  from.card-1 {
    top: 10em;
  }

  to {
    top: 0;
  }
}

.sign-up-section {
  background-color: #f4f4f4;
}

.card-footer {
  background-color: white;
}

.price {
  font-size: 3.7rem;
  color: #ffc107 !important;
  font-style: italic;
  font-weight: 100;
  line-height: 45px;
  margin-top: 10%;
}

.duration {
  font-size: 30%;
  font-style: normal;
  font-weight: 300;
}

.plan-description {
  font-size: 85%;
  margin: 0 10px;
  /* line-height: 50px; */
}

.btn-container {
  disply: flex;
  justify-content: center;
}

@media (max-width:768px) {
  .price {
    font-size: 250%;
    color: #ffc107 !important;
    font-style: italic;
    font-weight: 100;
    line-height: 45px;
    margin-top: 10%;
    /* word-spacing: 3px; */
  }

  .plan-description {
    font-size: 75%;
    margin: 0 10px;
  }
}

.sign-up-section button:hover {
  color: #fff !important;
}

/*-------------------------------------------*/
/* FOOTER SECTION */
/*-------------------------------------------*/
.footer-section p {
  font-size: 70%;
}

.footer-section ion-icon {
  font-size: 110%;
  margin-right: 10px;
}
